$primary-color: #78B990;
$secondary-color: #339155;
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Arimo);

* {box-sizing:border-box;}

body {
  font-family:'PT Sans',sans-serif;
  background: rgb(47,172,20);
  background: radial-gradient(circle, rgba(47,172,20,0.9360119047619048) 30%, rgba(128,12,170,1) 70%);
}
.text-center {
  text-align:center;
}
h1,h2,h3,h4,h5 {
  font-family:'Arimo',sans-serif;
  margin:0;
  font-weight:400;
}
.subhead {
  font-style:italic;
}
ul {
  margin:0;padding:0;list-style-type:none;
}
h1 {
  margin:auto;
  color:#aaa;
}
h2 {
  color:$secondary-color;
  font-size:1.2em;
}
h3 {
  font-size:1em;
  margin:.5em auto;
}

header {
  display:none;
  position:absolute;
  z-index:999999;
  width:100%;
  background-color:$primary-color;
  padding-left:.7em;
  i, h1 {
    color:#fafafa;
    display:inline-block;
    font-size:1em;
  }
  h1 {
    margin-left:1em;
  }
}
.phone {
  height:480px;
  width:320px;
  background-color: rgb(14, 234, 241);
  border:20px solid #aaa;
  border-radius:8px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;

}
i {
  color:$primary-color;
  font-size:2em;
}
.squareicon {
  margin-left:4px;
    margin-right:4px;
}
.splash {
  text-align:center;
  i {
    margin-top:8%;
    font-size:8em;
  }
}
.menu-item {
  padding:.5em 0;
}
.screen {
  height:90%;
  width:100%;
  background-color:#F4F5F5;
  
}
.menu {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#F4F5F5;
}
.menu-item {
  padding:.5em 1em;
  span {
    color: #666;
    margin-left: 1.3em;
    font-size: 1.3em;
    position: relative;
    top: -5px;
  }
}
.menu-item:hover {
    cursor:pointer;
}
.section {
  border-bottom:1px solid #ccc;
}
.section:first-child {
  border-top:1px solid #ccc;
}

.info {
  display:none;
  height:217px;
  padding-top:1em;
}

button {
  border:none;
  color:#fafafa;
background: linear-gradient(to bottom, rgba(64,184,107,1) 0%,rgba(53,165,84,1) 100%);
 
}
.confirm {
  display:none;
  button {
    padding:5px 10px;
    margin: 1em .5em;
  }
}
#load-card {
  text-align:center;
  button.charge-amount {
    font-size:1.2em;
    font-weight:700;
    height:60px;
    width:60px;
  }
}
#history {
    overflow:hidden;
  position:relative;
}
.card-history {
  color:#fafafa;
  width:90%;
  margin:0 auto;
  li {
    padding:1em;
  }
  li:nth-child(even) {
     background-color:$secondary-color;
  }
  
  li:nth-child(odd) {
     background-color:$primary-color;
  }
}

ul.account {
  border:1px solid #ddd;
  box-shadow:1px 1px 3px rgba(200,200,200,.2);
  padding:.8em;
  width:85%;
  margin:0 auto;
  color:#666;
  .subhead {
    margin-top:.5em;
    font-weight:700;
  }
  
}